{
  "plugins": [
    ["module-resolver", {
     
      "alias": {
        "~root": ["./src"],
        "~config": "./src/config",
        "~assets": "./src/assets",
        "~data": "./src/data",
        "~reduxCore": "./src/reduxCore",
        "~modals": "./src/modals",
        "~helper": "./src/helper",
        "~screens": "./src/screens",
        "~shared": "./src/shared",
        "~themes": "./src/themes",
        "~constants": "./src/constants",
        "~services": "./src/services",
        "~navigators": "./src/navigators"
      }
    }]
  ]
}